<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Big Data Trends Visualizer - Home</title>
  <meta name="description" content="an implementation of using hadoop to process big data and visualize it in a web ui">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../bower_components/bulma/css/bulma.min.css">
  <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script defer src="../bower_components/fontawesome/js/all.min.js"></script>
  <script type="text/javascript" src="../bower_components/vue/dist/vue.min.js"></script>
</head>

<body>
  <div id="app">
    <section class="hero is-bold is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
          Big Data Trends Visualizer
        </h1>
          <h2 class="subtitle">
          an implementation of using hadoop to process big data and visualize it in a web ui
        </h2>
        </div>
      </div>
    </section>
    <section class="section" style="padding-top: 100px;">
      <div class="container">
        <div class="buttons is-centered">
          <div class="field has-addons">
            <div class="control">
              <input v-model="username" class="input" type="text" :placeholder="username || 'Username'" v-on:keyup.enter="startSession()">
            </div>
            <div class="control">
              <a class="button is-info" :disabled="loading" v-bind:class="{ 'is-loading': loading }" @click="startSession()">
                Start Session
              </a>
            </div>
          </div>
        </div>
        <div class="notification is-danger" v-if="error">
          {{error}}
        </div>
      </div>
    </section>
  </div>
  <script type="text/javascript" src="../constants/apis.js"></script>
  <script type="text/javascript">
    function getQueryStringValue(key) {
      return decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent(key).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));
    }

    function navigateToVisualizer() {
      let stage = getQueryStringValue('stage');
      let path = '../visualizer';
      if (stage) {
        path += "?stage=" + stage;
      }
      window.location = path;
    }

    new Vue({
      el: '#app',
      data: {
        error: null,
        loading: false,
        username: localStorage.getItem("username") || null,
      },
      created: function() {
        this.initializeSession();
      },
      methods: {
        getAPIUrl: function() {
          let stage = getQueryStringValue('stage');

          if (stage === 'dev') {
            return window.API_URL_DEV;
          }

          return window.API_URL_PROD;
        },
        validSessionId: function() {
          return this.username && !(/\s/.test(this.username))
        },
        initializeSession: function() {
          if (!this.validSessionId()) {
            this.username = null;
            return;
          }

          this.loading = true;

          var self = this;
          $.get(self.getAPIUrl() + '/sessions/' + self.username)
            .done(function(response) {
              self.loading = false;
              navigateToVisualizer();
            }).fail(function(error) {
              self.loading = false;
              self.username = null;
              self.error = error;
            });
        },
        startSession: function() {
          if (!this.validSessionId()) {
            this.error = "Username is not valid. Whitespace is not allowed. Allowed characters: a-z, A-Z, 0-9, _ (underscore), - (dash), . (dot)";
            return;
          }

          this.loading = true;

          var self = this;
          $.post(self.getAPIUrl() + '/sessions/' + self.username)
            .done(function(response) {
              localStorage.setItem("username", self.username);
              navigateToVisualizer();
              self.loading = false;
            }).fail(function(error) {
              self.loading = false;
              self.username = null;
              self.error = error;
            });
        },
      }
    });
  </script>
</body>

</html>
